# Importing Libraries

In [58]:
import numpy as np
import pandas as pd
import scipy 
import matplotlib

#matplotlib.use('agg')
import matplotlib.pyplot as plt
from sklearn.preprocessing  import MinMaxScaler
import seaborn as sns
import sklearn
import keras
%matplotlib inline

# Importing Data

In [73]:
df = pd.read_csv('AAPL (1).csv')
data = pd.read_csv('News_Apple_Reddit2.csv', encoding = "ISO-8859-1")

# Univariate Analysis

In [74]:
df = df.sort_values('Date')

In [75]:
df.head(1)

         Date       Open      High        Low      Close  Adj Close    Volume
0  2010-12-31  46.135715  46.21143  45.901428  46.080002  31.194164  48377000

In [76]:
data.head(1)

,body_x,score_x,title_x,url_x,date,body_y,score_y,title_y,url_y,body,score,title,url
0,NaN,1614,Apple's Steve Jobs says resigns as CEO,http://www.reuters.com/,2011-08-25,\r\n\r\nWelcome to the daily Tech Support thre...,1.0,Daily Tech Support Thread [April 15],https://www.reddit.com/r/apple/comments/8cfqin...,NaN,NaN,NaN,NaN

In [77]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [89]:
df.columns = ['date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']

In [90]:
df['date'].iloc[164]

Timestamp('2012-04-20 00:00:00')

In [91]:
df = df.iloc[164:,]

In [92]:
data_final = pd.merge(df, data, how = 'left', on=['date'])

In [93]:
df.shape

(1434, 7)

In [94]:
data['date']

0       2011-08-25
1       2011-10-06
2       2011-11-13
3       2012-01-29
4       2012-03-27
5       2012-03-30
6       2012-04-18
7       2012-05-18
8       2012-05-18
9       2012-05-18
10      2012-05-18
11      2012-05-22
12      2012-06-12
13      2012-06-14
14      2012-07-18
15      2012-07-26
16      2012-07-27
17      2012-07-28
18      2012-08-12
19      2012-08-19
20      2012-08-23
21      2012-08-24
22      2012-08-31
23      2012-09-03
24      2012-09-08
25      2012-09-13
26      2012-09-14
27      2012-09-15
28      2012-09-16
29      2012-09-17
           ...
2308    2018-04-20
2309    2018-04-20
2310    2018-04-20
2311    2018-04-21
2312    2018-04-21
2313    2018-04-21
2314    2018-04-21
2315    2018-04-22
2316    2018-04-22
2317    2018-04-22
2318    2018-04-22
2319    2018-04-23
2320    2018-04-24
2321    2018-04-24
2322    2018-04-24
2323    2018-04-24
2324    2018-04-25
2325    2018-04-25
2326    2018-04-25
2327    2018-04-25
2328    2018-04-26
2329    2018-04-26
2330    2018-04-26
2331    2018-04-26
2332    2018-04-26
2333    2018-04-26
2334    2018-04-26
2335    2018-04-26
2336    2018-04-27
2337    2018-04-28
Name: date, Length: 2338, dtype: object

In [95]:
data.shape

(2338, 13)

In [96]:
data_final.shape

(1434, 19)

In [97]:
data_final.head()

,date,Open,High,Low,Close,Adj Close,Volume,body_x,score_x,title_x,url_x,body_y,score_y,title_y,url_y,body,score,title,url
0,2012-04-20 00:00:00,84.482857,84.945717,81.488571,81.854286,55.411781,257746300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-04-23 00:00:00,81.515717,82.381432,79.517143,81.671425,55.288006,241632300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2012-04-24 00:00:00,80.372856,81.098572,79.285713,80.040001,54.183609,269037300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2012-04-25 00:00:00,87.948570,88.285713,86.571426,87.142860,58.991924,226444400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2012-04-26 00:00:00,87.752853,87.812859,86.018570,86.814285,58.769508,134017100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Technical Analysis

In [98]:
df.sample()

,date,Open,High,Low,Close,Adj Close,Volume
496,2012-12-20,75.714287,75.742859,74.125717,74.53286,53.721798,120422400

In [99]:
df['date'] = pd.to_datetime(df['date'])

c:\users\admin\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [100]:
#Converting to string
df[['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']] = df[['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']].astype(str).astype(float).astype(int)

c:\users\admin\appdata\local\programs\python\python36\lib\site-packages\pandas\core\frame.py:2352: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

# 1. Simple Moving Average

In [101]:
#1. Simple Moving Averdf
df['sma30'] = df.Close.rolling(window = 30).mean()
df['sma40'] = df.Close.rolling(window = 40).mean()
df['sma50'] = df.Close.rolling(window = 50).mean()

c:\users\admin\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

c:\users\admin\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\admin\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.